.header__lang-link {
  color: #ffffff;
  text-decoration: none;
  width: 30px;
  font-size: 24px;
  line-height: 1.17;
  margin-right: 18px;
  margin-top: 46px;
}

.header__lang-link:hover {
  opacity: 0.55;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.header__lang-link:focus {
  color: white;
  border-bottom: 2px white solid;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    width: 22px;
    font-size: 18px;
    line-height: 1.11;
  }  
}