.place__website {
  max-width: 456px;
  max-height: 46px;
  margin: 0;
  align-self: flex-end;
  margin-bottom: 48px;
}

@media screen and (max-width: 425px) {
  .place__website {
    display: none;
  } 
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  } 
}