.places {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 92px;    
}

@media screen and (max-width: 425px) {
  .places {
    min-height: 4786px;
    margin-top: 64px;
    grid-row-gap: 48px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places {
    min-height: 2810px;
    margin: 0;
    margin: 88px 24px 0 24px;
    grid-row-gap: 72px;
  }  
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0 48px;
    width: calc(100% - 2 * 48px);
  }
}
