.footer__link {
  width: 100%;
  text-decoration: none;
  margin: 0;
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.55;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.footer__link:last-child {
  margin-right: 0;    
}

@media screen and (max-width: 425px) {
  .footer__link {
    /*width: 74px;
    height: 24px;*/
    font-size: 24px;
    line-height: 1;
    margin: 0;
    margin-bottom: 32px;
  }

  .footer__link:last-child {
    margin-bottom: 48px;    
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer__link {
    /*width: 50px;
    height: 18px;*/
    font-size: 16px;
    line-height: 1.12;
  }  
}