.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0;
  color: white;
  text-align: center;
  padding-top: 48px;
}

@media screen and (max-width: 692px) {
  .lead__title {
    font-size: 76px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
  	margin: 0 16px 16px 16px;
    width: calc(100% - 2 * 16px);
    font-size: 40px;
    line-height: 1.1;
  }
}