.place__paragraph {
  max-width: 484px;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
  margin: 0;
  margin-bottom: 24px;    
}

.place__paragraph:last-child {
  margin-bottom: 0;    
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    width: 288px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .place__paragraph {
    width: 352px;
    font-size: 16px;
    margin-top: 32px;
  }  
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place__paragraph {
    width: 456px;
  }  
}

@media screen and (min-width: 918px) and (max-width: 1021px) {
  .place__paragraph {
    width: 350px;
  }
}

@media screen and (min-width: 818px) and (max-width: 918px) {
  .place__paragraph {
    width: 250px;
    font-size: 13px;
  }
}

@media screen and (min-width: 769px) and (max-width: 818px) {
  .place__paragraph {
    width: 200px;
    font-size: 13px;
  }
}

@media screen and (min-width: 669px) and (max-width: 767px) {
  .place__paragraph {
    width: 250px;
    font-size: 15px;
  }
}

@media screen and (min-width: 567px) and (max-width: 668px) {
  .place__paragraph {
    width: 150px;
    font-size: 13px; 
  }
}

@media screen and (min-width: 516px) and (max-width: 567px) {
  .place__paragraph {
    width: 100px;
    font-size: 13px;
  }
}