@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-3.15/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-3.15/Inter-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: 'Inter-Black';
  src: url(../fonts/Inter-3.15/Inter-Black.woff2);
  font-weight: bold;	
}