.place__website-link {
  text-decoration: none;
  max-width: 456px;
  font-size: 18px;
  line-height: 1.22;
  border-bottom: 1px white solid;
  color: #ffffff;
  transition: opacity 0.1s ease-in-out 0.1s;  
}

.place__website-link:hover {
  opacity: 0.8;
}