.lead__image-trace {
  width: 95%;
  position: absolute;
  top: 90px;
  left: 24px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .lead__image-trace {
    top: 70px;
    left: 3%;
  }   
}

@media screen and (max-width: 425px) {
  .lead__image-trace {
    top: 30px;
    left: 3%;
  } 
}