.cover {
  margin-top: 92px;
  width: 1184px;
  height: 740px;
  margin-left: 48px;
  margin-right: 48px;
  position: relative;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.6s; 
}

.cover:hover::before {
  opacity: 0.8;    
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 0;
    margin-top: 64px;
    width: 320px;
    height: 200px;
  }
  .cover::before {
    width: 320px;
    height: 200px;
  }

  .cover:hover::before {
    display: none;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
    margin: 0;
    margin-top: 88px;
    width: 768px;
    height: 480px;
  }
  .cover::before {
    width: 768px;
    height: 480px;
  }

  .cover:hover::before {
    display: none;
  }  
}